
/* most of this is custom, taken from the figma design by Keith Olsen and then modified to fit the site */


.line {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    color: #202020;
}

.heading {
    display: block;
    margin: auto;
    margin-top: 30px;

    width: 62%;
    /*height: 42px;*/
    left: 645px;
    top: 570px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 42px;

    text-align: center;
}

.subHeading {
    width: 355px;
    /*height: 42px;*/
    left: 645px;
    top: 570px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 42px;

    color: #000000;
}

.link {
    margin-top:5px;

    width: 799px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    /* or 133% */

    /*color: #202020;*/

    color: green; /*border: 1px solid;
    border-radius: 20px;*/
}

.link:hover {
    text-decoration: underline;
    color: green; /*border: 1px solid;
    border-radius: 20px;*/
}

.navbar-custom {
    height: 200px;
    padding: 0 15px;
    /*overflow: hidden;*/ /* removed overflow: hidden so that the login and sign-in pop-up doesn't get cut off */
    z-index: 10;
}
.navbar-title {
    line-height: 120px;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: -20px;
}
.navbar-custom .nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.double-row-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.top-row {
    height: 77px;
    display: flex;
    align-items: center;
}

.bottom-row {
    height: 123px;
    display: flex;
    align-items: center;
}

.nav-item .nav-link {
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
}
.nav-item .nav-link.btn {
    font-size: 1.1em;
    padding: 12px;
}
.nav-item .nav-link.main {
    color: black;
    font-size: 1.4em;
    padding-right: 40px;
}

.nav-link {
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: currentColor;
    transition: width 0.3s ease;
}
.nav-link.main::after {
    height: 5px;
}

.nav-link:hover::after {
    width: 100%;
}


.focus-points {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 75px;
    list-style-type: none;
}

.focus-point {
    flex: 1;
    text-align: center;
    max-width: calc(33.333% - 20px); /* Subtracts uncaptured padding or margin */
    margin: 0 10px;

}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;

    width: 150px;
    height: 150px;

    background-color: #f0f0f0;
    border-radius: 50%;

    transition: transform 0.3s ease; /* Animation effect */
}
.icon-container.yellow {
    background-color: #FFD300;
}
.icon-container.green {
    background-color: #009F6B;
}
.icon-container.red {
    background-color: #C40233;
}
.icon-container.blue {
    background-color: #0087BD;
}

.focus-point:hover .icon-container {
  transform: scale(1.2); /* Adjust the value as needed, 1.2 means 20% increase */
}

.icon-container>.material-icons {
    font-size: 75px;
    color: white;
}
.icon-container>.material-symbols-outlined {
    font-size: 75px;
    color: white;
}


.map-container {
    display: block;
    margin: 30px auto 0;
    width: 62%;
}


.social-icons {
    display: flex;
    justify-content: space-between;
    width: 120px; /* Update the width depending on the number of icons */
}

.social-icons li {
    list-style: none;
}

.social-icons a {
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.2s;
}

.social-icons a:hover {
    color: #007bff; /* Adjust the hover color as needed */
}

.footer-logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-brand.site-logo {
    margin: auto;
}

.footer-nav .nav-item {
    margin-top: 20px;
}
