<!doctype html>

<html lang="en">
    <body>

        <%- include('./partials/header.ejs'); %>

<!-- some of the css needs to be moved to the custom css file -->


<script>
    var organisation;
    organisation = JSON.parse('<%- organisation %>');
    console.log(organisation);
</script>

<div class="page-header" style="background-image: url('media/Header_image.png'); min-height: 200px;">
<!-- div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')" -->
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <!-- h1 class="text-white">Learn about Georgism</h1 -->
            <!-- h3 class="text-white">Subtitle</h3 -->
            <!-- h5 class="text-white">A land value tax on a fixed supply does not raise the cost of the land, it only prevents profiteering.</h5 -->
          <!-- /div -->
        </div>
      </div>
    </div>
</div>

        <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
            <div class="container">
                <!-- div class="row" style="margin-top: 60px;"></div>
                <h2>Your account</h2 -->

        <br><br>

        <section>
          <div class="container py-4">
            <div class="row">
              <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
                <h3 class="text-center">Edit Your Organisation</h3>
                <form role="form" id="contact-form" method="post" autocomplete="off">
                  <div class="card-body">
                    <div class="mb-4">
                      <div class="input-group input-group-dynamic mb-4">
                        <label class="">Organisation Name</label>
                        <input id="name" type="email" class="form-control" placeholder="" style="width:100%; font-size: var(--bs-body-font-size); margin-left: -0.5px;" >
                        <script>
                            $('#name').val(organisation.name);
                        </script>
                      </div>
                    </div>
                    <div class="mb-4">
                        <div class="input-group input-group-dynamic">
                            <label class="">Organisation Website</label>
                            <input id="website" class="form-control" style="width:100%; font-size: var(--bs-body-font-size); margin-left: -0.5px;">
                            <script>
                                $('#website').val(organisation.website);
                            </script>
                        </div>
                    </div>
                    <div class="mb-4">
                      <div class="input-group input-group-dynamic">
                        <label class="">Organisation Email Address</label>
                        <input id="email" class="form-control" style="width:100%; font-size: var(--bs-body-font-size); margin-left: -0.5px;">
                        <script>
                            $('#email').val(organisation.email);
                        </script>
                      </div>
                    </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="input-group input-group-dynamic mb-4">
                            <label class="">Contact First Name</label>
                            <input id="firstName" class="form-control" aria-label="First Name..." type="text" style="width:100%; font-size: var(--bs-body-font-size); margin-left: -0.5px;">
                            <script>
                                $('#firstName').val(organisation.firstName);
                            </script>
                          </div>
                        </div>
                        <div class="col-md-6 ps-2">
                          <div class="input-group input-group-dynamic">
                            <label class="">Contact Last Name</label>
                            <input id="lastName" type="text" class="form-control" placeholder="" aria-label="Last Name..." style="width:100%; font-size: var(--bs-body-font-size); margin-left: -0.5px;">
                            <script>
                                $('#lastName').val(organisation.lastName);
                            </script>
                          </div>
                        </div>
                      </div>
                    <div class="mb-4">
                        <div class="input-group input-group-dynamic">
                            <label class="">Contact Email</label>
                            <input id="contactEmail" class="form-control" style="width:100%; font-size: var(--bs-body-font-size); margin-left: -0.5px;">
                            <script>
                                $('#contactEmail').val(organisation.contactEmail);
                            </script>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="input-group input-group-dynamic">
                            <label class="">Contact Phone Number</label>
                            <input id="contactPhoneNumber" class="form-control" style="width:100%; font-size: var(--bs-body-font-size); margin-left: -0.5px;">
                            <script>
                                $('#contactPhoneNumber').val(organisation.contactPhoneNumber);
                            </script>
                        </div>
                    </div>
                    <div class="input-group mb-4 input-group-static">
                        <label>Information about your organisation</label>
                        <textarea name="description" class="form-control" id="description" rows="4"></textarea>
                        <script>
                            $('#description').val(organisation.description);
                        </script>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-check form-switch mb-4 d-flex align-items-center">
                                <!-- input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="">
                                <label class="form-check-label ms-3 mb-0" for="flexSwitchCheckDefault">I agree to the <a href="javascript:;" class="text-dark"><u>Terms and Conditions</u></a>.</label -->
                                <label class="form-check-label ms-3 mb-0" for="flexSwitchCheckDefault">Submitting an organisation means agreeing to the <a href="javascript:;" class="text-dark"><u>Terms and Conditions</u></a>.</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input id="submit" type="button" class="btn bg-gradient-dark w-100" value="Update Organisation">
                            <!-- button id="submit" type="submit" class="btn bg-gradient-dark w-100">Add Organisation</button -->
                        </div>
                        <script>
                            $('#submit').click(async function() {
                                var name = $('#name').val();
                                var website = $('#website').val();
                                var email = $('#email').val();
                                var firstName = $('#firstName').val();
                                var lastName = $('#lastName').val();
                                var contactEmail = $('#contactEmail').val();
                                var contactPhoneNumber = $('#contactPhoneNumber').val();
                                var description = $('#description').val();
                        		var data = {
                                    name: name,
                                    website: website,
                                    email: email,
                                    firstName: firstName,
                                    lastName: lastName,
                                    contactEmail: contactEmail,
                                    contactPhoneNumber: contactPhoneNumber,
                                    description: description
                        		};
                        		$.ajax({
                        			url: '/api/editOrganisation',
                        			data: data,
                        			method: 'POST'
                        		}).then(function (response) {
                        			location.reload();
                                    //$(location).attr('href', "/thanksForSubmitting");
                        		}).catch(function (error) {
                        			console.error(error);
                        		});
                            });
                        </script>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>

        <br><br>

        </div>
        </div>


        <%- include('./partials/footer.ejs'); %>

    </body>
</html>
