<!doctype html>

<html lang="en">
    <body>

        <%- include('./partials/header.ejs'); %>

<!-- some of the css needs to be moved to the custom css file -->

<div class="page-header" style="background-image: url('media/Header_image.png'); min-height: 200px;">
<!-- div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')" -->
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <!-- h1 class="text-white">Learn about Georgism</h1 -->
            <!-- h3 class="text-white">Subtitle</h3 -->
            <!-- h5 class="text-white">A land value tax on a fixed supply does not raise the cost of the land, it only prevents profiteering.</h5 -->
          <!-- /div -->
        </div>
      </div>
    </div>
</div>

        <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
            <div class="container">
                <div class="row" style="margin-top: 60px;"></div>
                <h2>Administrator Panel for Submitted Geoist Applications</h2>

        <br><br>

        <div class="row">
            <div id="organisationList">
                <h>Submitted Organisations</h>
                <br><br>
                <hr>
                <br><br>
            </div>
            <script>
        		var organisations;
                $.ajax({
        			url: '/g/getAdminOrganisations',
        			method: 'POST'
        		}).then(function (response) {
                    organisations = JSON.parse(response);
                    organisations.forEach(function(element) {
                        $('#organisationList').append(
                            "Name: " +
                            element.name + 
                            "<br>" +
                            "Email: " +
                            element.email + 
                            "<br><br>"
                        );
                        $('#organisationList').append(
                            "<button id='" + element._id + "display" + "' type='button' class='btn btn-success m-2'>Display</button>" +
                            "<button id='" + element._id + "hide" + "' type='button' class='btn btn-warning m-2'>Hide</button>"
                        );
                        $('#' + element._id + "display").hide();
                        $('#' + element._id + "hide").hide();
                        $('#' + element._id + "display").click(async function() {
                            console.log('here');
                            $('#' + element._id + "hide").show();
                            $('#' + element._id + "display").hide();
                            //await createStripeAccount()
                            //.then
                        });
                        $('#' + element._id + "hide").click(async function() {
                            console.log('here 2');
                            $('#' + element._id + "display").show();
                            $('#' + element._id + "hide").hide();
                            //await createStripeAccount()
                            //.then
                        });
                        if (element.displayStatus != null && element.displayStatus == "false") {
                            $('#' + element._id + "display").show();
                        }
                        if (element.displayStatus != null && element.displayStatus == "true") {
                            $('#' + element._id + "hide").show();
                        }
                        $('#organisationList').append(
                            "<br><br>" +
                            "<hr>"
                        );
                    });
        			//location.reload();
        		}).catch(function (error) {
        			console.error(error);
        		});
            </script>
        </div>

        <br><br>

        </div>
        </div>


        <%- include('./partials/footer.ejs'); %>

    </body>
</html>
