<!doctype html>

<html lang="en">
    <body>

        <%- include('./partials/header.ejs'); %>


        <%- include('./partials/headerImageSmall.ejs'); %>

        <div class="row">

            <%- include('./partials/sidebar.ejs'); %>

        <!-- position: absolute;
        width: 212px;
        height: 21px;
        left: 261px;
        top: 614px; -->


            <div class="col-md-8" style="margin-top: 80px;">

                <div id="topHeading" class="container">
                    <div class="section">

                        <h class="heading">If You Have A Few Minutes</h>
                        <br>

                        <h class="subHeading m-3 mt-0 mr-0 mb-0">
                            A. Signal Boost Us Online
                        </h>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://twitter.com/@TheGeoismFdn' \
                            class="link">
                                @TheGeoismFdn
                            </a> on Twitter
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://discord.gg/bjZejXa' \
                            class="link">
                                /u/TheGeoismFoundation
                            </a> on Reddit
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a> on Facebook
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a> on Instagram
                        </span>
                        <br>

                        <h class="subHeading m-3 mt-0 mr-0 mb-0">
                            B. Join the Discussion Online
                        </h>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.reddit.com/r/georgism/' \
                            class="link">
                                /r/georgism
                            </a> on Reddit
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://twitter.com/r_georgism' \
                            class="link">
                                @r_georgism
                            </a> on Twitter
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://discord.gg/bjZejXa' \
                            class="link">
                                @GeorgismDiscord
                            </a> on Discord
                        </span>
                        <br>

                        <h class="subHeading m-3 mt-0 mr-0 mb-0">
                            C. Follow Georgist Organizations on Social Media
                        </h>
                        <br>

                        <span class="line m-3 mt-0 mr-0 mb-0">
                        Global
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://newphysiocrats.org/about-new-physiocratic-league/' \
                            class="link">
                                The New Physiocratic League
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            Twitter
                            <a target="_blank" \
                                href='https://twitter.com/NewPhysiocrats' \
                            class="link">
                                @NewPhysiocrats
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.facebook.com/newphysiocrats' \
                            class="link">
                                Facebook
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://affeercewebsite20180716091632.azurewebsites.net/NewDefault.aspx' \
                            class="link">
                                AFFEERCE
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            Twitter
                            <a target="_blank" \
                                href='https://twitter.com/affeerce?lang=bn' \
                            class="link">
                                @AFFERCE
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.facebook.com/groups/AFFEERCE/' \
                            class="link">
                                Facebook
                            </a>
                        </span>
                        <br>

                        <span class="line m-3 mt-0 mr-0 mb-0">
                        USA
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://commonground-usa.net' \
                            class="link">
                                Common Ground USA
                            </a>
                        </span>
                        <br>

                        <!-- span class="line m-7 mt-0 mr-0 mb-0">
                            i) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br -->

                        <!-- span class="line m-7 mt-0 mr-0 mb-0">
                            ii) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br -->

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='http://cacommonground.org' \
                            class="link">
                                Common Ground California
                            </a>
                        </span>
                        <br>

                        <!-- span class="line m-7 mt-0 mr-0 mb-0">
                            i) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br -->

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.google.com/search?client=safari&rls=en&q=common+ground+oregon+washington&ie=UTF-8&oe=UTF-8' \
                            class="link">
                                Common Ground Oregon-Washington
                            </a>
                        </span>
                        <br>

                        <!-- span class="line m-7 mt-0 mr-0 mb-0">
                            i) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            ii) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            iii) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            iv) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br -->

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://centerforpropertytaxreform.org' \
                            class="link">
                                Center for Property Tax Reform
                            </a>
                        </span>
                        <br>

                        <!-- span class="line m-7 mt-0 mr-0 mb-0">
                            i) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            ii) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br -->

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.urbantoolsconsult.org' \
                            class="link">
                                Center For the Study of Economics
                            </a>
                        </span>
                        <br>

                        <!-- span class="line m-7 mt-0 mr-0 mb-0">
                            i) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            ii) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br -->

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.hgsss.org' \
                            class="link">
                                Henry George School of Social Science
                            </a>
                             (NYC)
                        </span>
                        <br>

                        <!-- span class="line m-7 mt-0 mr-0 mb-0">
                            i) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            ii) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            iii) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            iv) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br -->

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.lincolninst.edu' \
                            class="link">
                                Lincoln Institute of Land Policy
                            </a>
                        </span>
                        <br>

                        <!-- span class="line m-7 mt-0 mr-0 mb-0">
                            i) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            ii) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            iii) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            iv) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br -->

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.schoolofliving.org' \
                            class="link">
                                School of Living
                            </a>
                        </span>
                        <br>

                        <!-- span class="line m-7 mt-0 mr-0 mb-0">
                            i) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            ii) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br -->

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.strongtowns.org' \
                            class="link">
                                Strong Towns
                            </a>
                        </span>
                        <br>

                        <!-- span class="line m-7 mt-0 mr-0 mb-0">
                            i) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            ii) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            iii) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            iv) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br -->

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://schalkenbach.org' \
                            class="link">
                                The Robert Schalkenbach Foundation
                            </a>
                        </span>
                        <br>

                        <!-- span class="line m-7 mt-0 mr-0 mb-0">
                            i) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            ii) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            iii) 
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br -->

                        <span class="line m-3 mt-0 mr-0 mb-0">
                        UK
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://libdemsalter.org.uk/en/' \
                            class="link">
                                Liberal Democrats Action for Land Tax and Economic Reform
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.labourland.org' \
                            class="link">
                                Labour Land Campaign
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.landvaluetax.org' \
                            class="link">
                                Land Value Tax Campaign
                            </a>
                        </span>
                        <br>

                        <span class="line m-3 mt-0 mr-0 mb-0">
                        Australia
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.earthsharing.org.au' \
                            class="link">
                                Earthsharing Australia
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.prosper.org.au' \
                            class="link">
                                Prosper Australia
                            </a>
                        </span>
                        <br>

                        <span class="line m-3 mt-0 mr-0 mb-0">
                        Other
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            Twitter
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://twitter.com/LandTaxerMemes' \
                            class="link">
                                @LandTaxerMemes
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://twitter.com/seethecat_' \
                            class="link">
                                @SeeTheCat_
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://twitter.com/LVTSolvesThis' \
                            class="link">
                                @LVTSolvesThis
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            Instagram
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.instagram.com/landtaxermemes/' \
                            class="link">
                                @landtaxermemes
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.instagram.com/seethecatsavetheworld/' \
                            class="link">
                                @seethecatsavetheworld
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            Substack
                            <a target="_blank" \
                                href='' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://progressandpoverty.substack.com' \
                            class="link">
                                Progress and Poverty
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.utopianurbanism.com/?utm_source=%2Fprofile%2F65265015-ll-sontag&utm_medium=reader2&utm_campaign=substack_profile' \
                            class="link">
                                Space is a Means of Production: Living Metropolis
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://theinternationalunion.substack.com/p/coming-soon?utm_source=substack%2C%2Fsearch%2FThe%2520IU%2520view%2520-%2520August%25202022&utm_medium=web%2Creader2&utm_campaign=reader2&showWelcome=true' \
                            class="link">
                                The IU view - August 2022
                            </a>
                        </span>
                        <br>


                    </div>
                </div>

                <br>


            </div>
        </div>
        <br><br>





        <%- include('./partials/footer.ejs'); %>

    </body>
</html>
