<!doctype html>

<html lang="en">
    <body>

        <%- include('./partials/header.ejs'); %>


        <%- include('./partials/headerImageSmall.ejs'); %>

        <div class="row">

            <%- include('./partials/sidebar.ejs'); %>

        <!-- position: absolute;
        width: 212px;
        height: 21px;
        left: 261px;
        top: 614px; -->


            <div class="col-md-8" style="margin-top: 80px;">

                <div id="topHeading" class="container">
                    <div class="section">

                        <h class="heading">If You Have A Few Hours</h>
                        <br>

                        <h class="subHeading m-3 mt-0 mr-0 mb-0">
                            A. Watch Introductory Videos on Georgism
                        </h>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.youtube.com/watch?v=jiGKwi43R0Q' \
                            class="link">
                                Ground Rent and David Ricardo's Law of Rent
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.youtube.com/watch?v=Li_MGFRNqOE&t=2s' \
                            class="link">
                                Georgism 101
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.youtube.com/watch?v=ok2uR3btMrE&t=267s' \
                            class="link">
                                Strong Towns: Property Tax vs. Land Value Tax (LVT)
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.youtube.com/watch?v=cEsC5hNfPU4' \
                            class="link">
                                In Defense of the "gentrification building"
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://theiu.org/videos/' \
                            class="link">
                                TheIU Videos
                            </a>
                            <a target="_blank" \
                                href='https://theiu.org/films/' \
                            class="link">
                                TheIU Films
                            </a>
                        </span>
                        <br>

                        <h class="subHeading m-3 mt-0 mr-0 mb-0">
                            B. Read Introductory Articles on Land Value Taxation
                        </h>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.vox.com/policy-and-politics/22951092/land-tax-housing-crisis' \
                            class="link">
                                Tax the Land - Vox
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.strongtowns.org/journal/2019/3/5/whats-with-that-empty-lot-in-the-heart-of-the-city' \
                            class="link">
                                What's With That Empty Lot in the Heart of the City? - Strong Towns
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.strongtowns.org/journal/2019/3/6/non-glamorous-gains-the-pennsylvania-land-tax-experiment' \
                            class="link">
                                Non-Glamorous Gains: The Pennsylvania Land Tax Experiment - Strong Towns
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.strongtowns.org/journal/2022/1/18/what-would-mass-upzoning-actually-do-to-property-values' \
                            class="link">
                                What Would Mass Upzoning *Actually* Do to Property Values? - Strong Towns
                            </a>
                        </span>
                        <br>

                        <h class="subHeading m-3 mt-0 mr-0 mb-0">
                            C. Share with Friends and Family (Here are some tips to persuade them!)
                        </h>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            Logos
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            a) Describe the philosophical reasonings for Georgism: no one can produce land, so just like air, no one should be able to own it. Almost always, those who own land now, own land that was once stolen from someone.
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            b) Describe the economical reasonings: a tax on a fixed supply does not introduce deadweight loss or the opportunity to pass the tax to end consumers.
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            c) From Adam Smith to Milton Friedman, economists endorse LVT
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            Pathos
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            a) For those left of the aisle, affordable housing and taxing the rich are exciting benefits.
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            b) For those on the right, greater property rights to landowners by upzoning and a LVT reducing the reach of government.
                        </span>
                        <br>

                        <h class="subHeading m-3 mt-0 mr-0 mb-0">
                            D. Write an Article on Land Value Tax for Your Local Newspaper
                        </h>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://ctb.ku.edu/en/table-of-contents/advocacy/direct-action/letters-to-editor/main' \
                            class="link">
                                Writing Letters to the Editor
                            </a>
                        </span>
                        <br>


                    </div>
                </div>

                <br>


            </div>
        </div>
        <br><br>





        <%- include('./partials/footer.ejs'); %>

    </body>
</html>
