<!doctype html>

<html lang="en">
    <body>

        <%- include('./partials/header.ejs'); %>


        <%- include('./partials/headerImageSmall.ejs'); %>

        <div class="row">

            <%- include('./partials/sidebar.ejs'); %>

        <!-- position: absolute;
        width: 212px;
        height: 21px;
        left: 261px;
        top: 614px; -->


            <div class="col-md-8" style="margin-top: 80px;">

                <div id="topHeading" class="container">
                    <div class="section">

                        <h class="heading">If You Have More Time</h>
                        <br>

                        <h class="subHeading m-3 mt-0 mr-0 mb-0">
                            A. Start And Crowdfund Your Own Georgist Project
                        </h>
                        <br>

                        <h class="subHeading m-3 mt-0 mr-0 mb-0">
                            B. Take Classes on Georgism
                        </h>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='http://www.henrygeorgesanfrancisco.org' \
                            class="link">
                                Henry George School of San Francisco
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.hgsss.org' \
                            class="link">
                                Henry George School of Social Science
                            </a>
                        </span>
                        <br>
                        <span class="line m-7 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.youtube.com/channel/UCZrg8uNu--qyjyk6fBS-JgA' \
                            class="link">
                                Youtube
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://hgchicago.org' \
                            class="link">
                                The Henry George School of Social Science, Chicago
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://schoolofphilosophy.org/collections/frontpage' \
                            class="link">
                                The School of Philosophy and Economic Science
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.henrygeorgefoundation.org/courses/evening-classes/' \
                            class="link">
                                The Henry George Foundation
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://henrygeorge.org/bob/lessons-readings/' \
                            class="link">
                                Henry George Institute
                            </a>
                        </span>
                        <br>

                        <h class="subHeading m-3 mt-0 mr-0 mb-0">
                            C. Further Reading
                        </h>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            Common Wealth Tax
                            <a target="_blank" \
                                href='https://commonwealthtax.wordpress.com' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            The School of Cooperative Individualism
                            <a target="_blank" \
                                href='https://cooperative-individualism.org/introduction.htm' \
                            class="link">
                                
                            </a>
                        </span>
                        <br>

                        <h class="subHeading m-3 mt-0 mr-0 mb-0">
                            D. Join a Community Land Trust 
                        </h>
                        <br>

                        <span class="line m-3 mt-0 mr-0 mb-0">
                        USA
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.sdclt.org' \
                            class="link">
                                San Diego Community Land Trust
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.bayareaclt.org' \
                            class="link">
                                The Bay Area Community Land Trust
                            </a>
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://oakclt.org' \
                            class="link">
                                Oakland Community Land Trust
                            </a>
                        </span>
                        <br>

                        <span class="line m-3 mt-0 mr-0 mb-0">
                        UK
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            Tell us about some so we can add them here
                        </span>
                        <br>

                        <span class="line m-3 mt-0 mr-0 mb-0">
                        Europe
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            Tell us about some so we can add them here
                        </span>
                        <br>

                        <h class="subHeading m-3 mt-0 mr-0 mb-0">
                            E. Join a Georgist Intentional Community
                        </h>
                        <br>

                        <span class="line m-3 mt-0 mr-0 mb-0">
                        Global
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://cgocouncil.org' \
                            class="link">
                                Council of Georgist Organizations
                            </a>
                        </span>
                        <br>

                        <span class="line m-3 mt-0 mr-0 mb-0">
                        USA
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.schoolofliving.org' \
                            class="link">
                                School of Living
                            </a>
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.ahimsavillage.org' \
                            class="link">
                                Ahimsa Village
                            </a> (Julian, Pennsylvania)
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            Julian Woods Community (Julian, Pennsylvania)
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.schoolofliving.org/common-ground-community' \
                            class="link">
                                Common Ground Community
                            </a> (Lexington, Virginia)
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='http://www.heathcote.org/cms/' \
                            class="link">
                                Heathcote Community
                            </a> (Freeland, Maryland)
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://www.stellaloufarm.com' \
                            class="link">
                                StellaLou Farm
                            </a> (Cochranville, Pennsylvania)
                        </span>
                        <br>

                        <span class="line m-7 mt-0 mr-0 mb-0">
                            <a target="_blank" \
                                href='https://docs.google.com/document/d/1dhksRk1dcA-JIX3DMOHJNkI28Ywjf_AYoaLYOpEZ6iA/edit' \
                            class="link">
                                Stellar Roots
                            </a> (Itsodi Land, Virginia)
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            <a \
                                href='mailto:ardengeorgists@gmail.com' \
                            class="link">
                                Arden Georgists (email)
                            </a>
                        </span>
                        <br>

                        <h class="subHeading m-3 mt-0 mr-0 mb-0">
                            F. Consider volunteering / career in public service
                        </h>
                        <br>


                    </div>
                </div>

                <br>


            </div>
        </div>
        <br><br>





        <%- include('./partials/footer.ejs'); %>

    </body>
</html>
