<!doctype html>

<html lang="en">
    <body>

        <%- include('./partials/header.ejs'); %>


        <%- include('./partials/headerImageSmall.ejs'); %>

        <div class="row">

            <%- include('./partials/sidebar.ejs'); %>

        <!-- position: absolute;
        width: 212px;
        height: 21px;
        left: 261px;
        top: 614px; -->


            <div class="col-md-8" style="margin-top: 80px;">

                <div id="topHeading" class="container">
                    <div class="section">

                        <h class="heading">If You Have Funds to Donate</h>
                        <br>

                        <!-- p class="link"><a href='/organisations' class="link">Go to the list here and donate to those organisations directly.</a></p -->
                        <h class="subHeading m-3 mt-0 mr-0 mb-0">A. Help Us Fund Georgist Projects and Research</h>
                        <br>

                        <h class="subHeading m-3 mt-0 mr-0 mb-0">B. Donate Directly to Georgist Organizations</h>
                        <br>

                            <span class="line m-3 mt-0 mr-0 mb-0">
                            Education
                            </span>
                            <br>

                            <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" href='https://www.hgsss.org/donate/' class="link">Henry George of Social Science, New York City</a> (Tax deductible.)
                            </span>
                            <br>

                            <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" href='https://hgchicago.org/donate/' class="link">Henry George School of Social Science, Chicago</a> (Tax deductible.)
                            </span>
                            <br>

                            <span class="line m-5 mt-0 mr-0 mb-0">
                            Henry George School of San Francisco (Tax deductible.)
                            </span>
                            <br>

                            <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" href='https://www.schoolofliving.org/donate' class="link">School of Living</a> (Tax deductible.)
                            </span>
                            <br>

                            <span class="line m-3 mt-0 mr-0 mb-0">
                            Organizing
                            </span>
                            <br>

                            <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" href='https://cgocouncil.org/donate-to-the-council/' class="link">Council of Georgist Organizations</a> (Donations are not tax deductible.)
                            </span>
                            <br>

                            <span class="line m-5 mt-0 mr-0 mb-0">
                            Common Ground (Donations are not tax deductible. Mail donations to Common Ground-USA, 4075 Cheltonham Court, Plainfield, IN 46168.)
                            </span>
                            <br>

                            <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" href='https://www.prosper.org.au/donate/' class="link">Prosper Australia</a> (Donations over $A2 are tax deductible.)
                            </span>
                            <br>

                            <span class="line m-3 mt-0 mr-0 mb-0">
                            Research
                            </span>
                            <br>

                            <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" href='https://donate.justgiving.com/donation-amount?uri=aHR0cHM6Ly9kb25hdGUtYXBpLmp1c3RnaXZpbmcuY29tL2FwaS9kb25hdGlvbnMvYWQ3ODVlZjcwZmU1NDk3M2JkNWMyZTlkMzViN2E4MGQ=' class="link">Center for the Study of Economics</a> (Tax deductible.)
                            </span>
                            <br>

                            <span class="line m-5 mt-0 mr-0 mb-0">
                            <a target="_blank" href='https://schalkenbach.org/donate/' class="link">Robert Schalkenbach Foundation</a> (Tax deductible.)
                            </span>
                            <br>

                        <h class="subHeading m-3 mt-0 mr-0 mb-0">
                            C. Join Organizations Promoting Land Value Taxation
                        </h>
                        <br>

                        <span class="line m-3 mt-0 mr-0 mb-0">
                        Global
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://cgocouncil.org/membership/' \
                            class="link">
                                Council for Georgist Organizations
                            </a>
                            (Voting membership: $50/year; $125/3 years. Non-voting affiliate: $25/year; $65/3 years.)
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://theiu.org/join/' \
                            class="link">
                                The International Union for Land Value Taxation
                            </a>
                            (Membership fee: $40. Low-income membership: $15. Corporate membership: $80.) 
                        </span>
                        <br>

                        <span class="line m-3 mt-0 mr-0 mb-0">
                        USA
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://commonground-usa.net/join-us/' \
                            class="link">
                                Common Ground
                            </a>
                            (Nationwide. Individual membership: $15. Family membership: $20. )
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.strongtowns.org/membership' \
                            class="link">
                                Strong Towns
                            </a>
                            (Nationwide. Membership with a contribution of any amount.)
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.foundeconjust.org' \
                            class="link">
                                Foundation for Economic Justice
                            </a>
                            (San Diego, California)
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.schoolofliving.org/membership' \
                            class="link">
                                School of Living
                            </a>
                            (Individual memberships: $30/year to $135/year. Lifetime membership: $665.)
                        </span>
                        <br>

                        <span class="line m-3 mt-0 mr-0 mb-0">
                        UK
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href= 'https://libdemsalter.org.uk/en/page/join-alter' \
                            class="link">
                                Liberal Democrats ALTER
                            </a>
                            (“Membership fee: £20/year. Low-income membership £10/year.”)
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='http://www.c4ej.com' \
                            class="link">
                                Coalition for Economic Justice
                            </a>
                            
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.labourland.org/become-a-member/' \
                            class="link">
                                Labour Land Campaign
                            </a>
                            (“Membership fee: £20. Low-income membership £10. Corporate membership: £30.”)
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.landvaluetax.org/#joinlvtc' \
                            class="link">
                                Land Value Tax Campaign
                            </a>
                            
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://slrg.scot' \
                            class="link">
                                Scottish Land Revenue Group
                            </a>
                            
                        </span>
                        <br>

                        <span class="line m-3 mt-0 mr-0 mb-0">
                        Australia
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.earthsharing.org.au/join/' \
                            class="link">
                                Earthsharing Australia
                            </a>
                            (Membership fee: $A30/year.)
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.prosper.org.au/join/' \
                            class="link">
                                Prosper Australia
                            </a>
                            (Membership fee: $A30 /year.)
                        </span>
                        <br>

                        <span class="line m-3 mt-0 mr-0 mb-0">
                        Republic of Korea
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='http://landliberty.or.kr' \
                            class="link">
                                Institute of Land & Liberty (토지+자유연구소)
                            </a>
                            
                        </span>
                        <br>


                        <h class="subHeading m-3 mt-0 mr-0 mb-0">D. Get Some Swag</h>
                        <br>

                        <span class="line m-3 mt-0 mr-0 mb-0">
                        From Redbubble
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.redbubble.com/shop/ap/79056604' \
                            class="link">
                                Do You See The Cat?
                            </a> by Plupsnup
                            
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.redbubble.com/shop/ap/79961606' \
                            class="link">
                                Georgist Internationalism
                            </a> by LibertyandLand
                            
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.redbubble.com/shop/ap/120700813' \
                            class="link">
                                Progressive Cat Symbol
                            </a> by selfreference2
                            
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.redbubble.com/shop/ap/117152303' \
                            class="link">
                                Henry George and the Dragon
                            </a> by TheNewUrbanist
                            
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.redbubble.com/shop/ap/117147501' \
                            class="link">
                                Henry George Propaganda 2
                            </a> by TheNewUrbanist
                            
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.redbubble.com/shop/ap/117146795' \
                            class="link">
                                Henry George Kawaii uwu ~~ ༼ つ ◕◡◕ ༽つ
                            </a> by TheNewUrbanist
                            
                        </span>
                        <br>

                        <span class="line m-5 mt-0 mr-0 mb-0">
                            
                            <a target="_blank" \
                                href='https://www.redbubble.com/shop/ap/117990176' \
                            class="link">
                                Just tax land lol
                            </a> by AlexT2po
                            
                        </span>
                        <br>

                    </div>
                </div>

                <br>


            </div>
        </div>
        <br><br>





        <%- include('./partials/footer.ejs'); %>

    </body>
</html>
