<!doctype html>

<html lang="en">
    <body>

        <%- include('./partials/header.ejs'); %>

        <%- include('./partials/body_landing.ejs'); %>

        <%- include('./partials/footer.ejs'); %>

    </body>
</html>
