<!doctype html>

<html lang="en">
    <body>

        <%- include('./partials/header.ejs'); %>

        <div class="page-header" style="background-image: url('media/Header_image.png'); min-height: 498px;">
        <!-- div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')" -->
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container">
              <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-8">
                  <!-- div class="text-center" -->
                    <h1 class="text-white" style="font-family: Roboto;
        font-size: 60px;
        font-weight: 700;
        line-height: 84px;
        letter-spacing: 0em;
        text-align: left;
        ">Find other<br>like-minded people</h1>
                    <h8 class="text-white">Find your role in building a future for all</h8>
                </div>
              </div>
            </div>
        </div>

        <div class="section text-center">
            <%- include('./partials/map.ejs'); %>
        </div>

        <%- include('./partials/footer.ejs'); %>

    </body>
</html>
