<!doctype html>

<html lang="en">
    <body>

        <%- include('./partials/header.ejs'); %>

        <div class="page-header" style="background-image: url('media/Header_image.png'); min-height: 150px;">
        </div>

        <div class="container">
            <br>
            <div class="row mb-10">

                <br><br>

                <h4 class="mt-2 mb-2"> You must be logged in to be able to do this. </h4> <!-- class="mt-2 mb-4" -->

                <br><br>

                <span>Please log in or create an account from the top right corner, and then return here.</span>

                <br><br>

            </div>

          <br><br>

        <%- include('./partials/footer.ejs'); %>

        </div>


    </body>
</html>
