<!doctype html>

<html lang="en">
    <body>

        <%- include('./partials/header.ejs'); %>

<!-- some of the css needs to be moved to the custom css file -->

<div class="page-header" style="background-image: url('media/Header_image.png'); min-height: 200px;">
<!-- div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')" -->
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <!-- h1 class="text-white">Learn about Georgism</h1 -->
            <!-- h3 class="text-white">Subtitle</h3 -->
            <!-- h5 class="text-white">A land value tax on a fixed supply does not raise the cost of the land, it only prevents profiteering.</h5 -->
          <!-- /div -->
        </div>
      </div>
    </div>
</div>

        <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
            <div class="container">
                <div class="row" style="margin-top: 60px;"></div>
                <h2> Geoist and Georgist Organisations that need your help</h2>

        <br><br>

        <div class="row">
            <div id="organisationList">
                <h>Submitted Organisations</h>
                <br><br>
            </div>
            <script>
        		var organisations;
                $.ajax({
        			url: '/g/getOrganisations',
        			method: 'POST'
        		}).then(function (response) {
                    organisations = JSON.parse(response);
                    organisations.forEach(function(element) {
                        $('#organisationList').append(
                            "Name: " +
                            element.name + 
                            "<br>" +
                            "Email: " +
                            element.email + 
                            "<br><br>"
                        );
                    });
        			//location.reload();
        		}).catch(function (error) {
        			console.error(error);
        		});
            </script>
        </div>

        <br><br>

        </div>
        </div>

        <!-- div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
            <div class="container">
                <div class="row" style="margin-top: 60px;"></div>
                <h2> Geoist and Georgist Organisations that need your help</h2>
                <div class="row" style="margin-top: 60px;"></div>
                <div class="row" style="margin-left: 5%;">
                    Center for the Study of Economics
                    <a href="https://www.urbantoolsconsult.org">https://www.urbantoolsconsult.org</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    Common Ground USA
                    <a href="https://www.urbantoolsconsult.org">https://www.urbantoolsconsult.org</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    Earthsharing Australia
                    <a href="https://www.earthsharing.org.au">https://www.earthsharing.org.au</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    Foundation for Economic Justice
                    <a href="https://www.foundeconjust.org">https://www.foundeconjust.org</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    Henry George Institute
                    <a href="https://henrygeorge.org">https://henrygeorge.org</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    Henry George School of San Fransisco
                    <a href="http://www.henrygeorgesanfrancisco.org">http://www.henrygeorgesanfrancisco.org</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    Henry George School of Social Science, Chicago
                    <a href="www.hgchicago.org">www.hgchicago.org</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    Henry George School of Social Science, New York City
                    <a href="https://www.hgsss.org">https://www.hgsss.org</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    International Union for Land Value Taxation
                    <a href="https://theiu.org">https://theiu.org</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    Labour Land Campaign
                    <a href="https://www.labourland.org">https://www.labourland.org</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    Land Value Tax Campaign
                    <a href="https://www.landvaluetax.org">https://www.landvaluetax.org</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    Prosper Australia
                    <a href="https://www.prosper.org.au">https://www.prosper.org.au</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    Robert Schalkenbach Foundation
                    <a href="https://schalkenbach.org">https://schalkenbach.org</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    San Diego Community Land Trust
                    <a href="https://www.sdclt.org">https://www.sdclt.org</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    School of Living
                    <a href="https://www.schoolofliving.org">https://www.schoolofliving.org</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    Strong Towns
                    <a href="https://www.strongtowns.org">https://www.strongtowns.org</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    Bay Area Community Land Trust
                    <a href="https://www.bayareaclt.org">https://www.bayareaclt.org</a>
                </div>
                <br>

                <div class="row" style="margin-left: 5%;">
                    Oakland Community Land Trust
                    <a href="https://oakclt.org">https://oakclt.org</a>
                </div>
                <br>

                <div class="row" style="margin-top: 120px;"></div>
            </div>
        </div -->


        <%- include('./partials/footer.ejs'); %>

    </body>
</html>
