<!doctype html>

<html lang="en">
    <body>

        <%- include('./partials/header.ejs'); %>

        <div class="page-header" style="background-image: url('media/Header_image.png'); min-height: 150px;">
        </div>

        
        <!-- div class="container" style="margin-top: 150px; margin-bottom: 150px;">

        <div class="row">

        <h> Submitting organisations is currently disabled! We are still open to trying to fund your projects however, you just have to contact us directly. Try to contact us through the subreddit or twitter or elsewhere.</h>

        </div>

        </div -->

        <br><br>

        <section>
          <div class="container py-4">
            <div class="row">
              <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
                <h3 class="text-center">Add Your Organisation</h3>
                <form role="form" id="contact-form" method="post" autocomplete="off">
                  <div class="card-body">
                    <div class="mb-4">
                      <div class="input-group input-group-dynamic">
                        <label class="form-label">Organisation Name</label>
                        <input id="name" class="form-control">
                      </div>
                    </div>
                    <div class="mb-4">
                        <div class="input-group input-group-dynamic">
                            <label class="form-label">Organisation Website</label>
                            <input id="website" class="form-control">
                        </div>
                    </div>
                    <div class="mb-4">
                      <div class="input-group input-group-dynamic">
                        <label class="form-label">Organisation Email Address</label>
                        <input id="email" class="form-control">
                      </div>
                    </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="input-group input-group-dynamic mb-4">
                            <label class="form-label">Contact First Name</label>
                            <input id="firstName" class="form-control" aria-label="First Name..." type="text" >
                          </div>
                        </div>
                        <div class="col-md-6 ps-2">
                          <div class="input-group input-group-dynamic">
                            <label class="form-label">Contact Last Name</label>
                            <input id="lastName" type="text" class="form-control" placeholder="" aria-label="Last Name..." >
                          </div>
                        </div>
                      </div>
                    <div class="mb-4">
                        <div class="input-group input-group-dynamic">
                            <label class="form-label">Contact Email</label>
                            <input id="contactEmail" class="form-control">
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="input-group input-group-dynamic">
                            <label class="form-label">Contact Phone Number</label>
                            <input id="contactPhoneNumber" class="form-control">
                        </div>
                    </div>
                    <div class="input-group mb-4 input-group-static">
                        <label>Information about your organisation</label>
                        <textarea name="description" class="form-control" id="description" rows="4"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-check form-switch mb-4 d-flex align-items-center">
                                <!-- input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="">
                                <label class="form-check-label ms-3 mb-0" for="flexSwitchCheckDefault">I agree to the <a href="javascript:;" class="text-dark"><u>Terms and Conditions</u></a>.</label -->
                                <label class="form-check-label ms-3 mb-0" for="flexSwitchCheckDefault">Submitting an organisation means agreeing to the <a href="javascript:;" class="text-dark"><u>Terms and Conditions</u></a>.</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input id="submit" type="button" class="btn bg-gradient-dark w-100" value="Add Organisation">
                            <!-- button id="submit" type="submit" class="btn bg-gradient-dark w-100">Add Organisation</button -->
                        </div>
                        <script>
                            $('#submit').click(async function() {
                                var name = $('#name').val();
                                var website = $('#website').val();
                                var email = $('#email').val();
                                var firstName = $('#firstName').val();
                                var lastName = $('#lastName').val();
                                var contactEmail = $('#contactEmail').val();
                                var contactPhoneNumber = $('#contactPhoneNumber').val();
                                var description = $('#description').val();
                        		var data = {
                                    name: name,
                                    website: website,
                                    email: email,
                                    firstName: firstName,
                                    lastName: lastName,
                                    contactEmail: contactEmail,
                                    contactPhoneNumber: contactPhoneNumber,
                                    description: description,
                                    internalNotes: ""
                        		};
                        		$.ajax({
                        			url: '/api/addOrganisation',
                        			data: data,
                        			method: 'POST'
                        		}).then(function (response) {
                        			//location.reload();
                                    $(location).attr('href', "/thanksForSubmitting");
                        		}).catch(function (error) {
                        			console.error(error);
                        		});
                            });
                        </script>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>




        <!-- div class="container">
            <br>
          <div class="row">

            <h4> Add your organisation </h4 --> <!-- class="mt-2 mb-4" -->

            <!-- h> Set a Username </h>
            <br>
            <input type="text" id="username" style="height:50px; width:600px;"></input>
            <h> Set a Password </h>
            <br>
            <input type="text" id="password" style="height:50px; width:600px;"></input -->
            <!-- h> Enter Password Again </h>
            <br>
            <input type="text" id="password2" style="height:50px; width:600px;"></input -->
            <!-- h> Organisation Name </h>
            <br>
            <input type="text" id="name" style="height:50px; width:600px;"></input>
            <h> Organisation Email </h>
            <br>
            <input type="text" id="email" style="height:50px; width:600px;"></input>
            <h> Brief Organisation Description </h>
            <br>
            <textarea id="description" style="height:150px; width:600px;"></textarea>
            <h> Primary Contact Name </h>
            <br>
            <input type="text" id="contactName1" style="height:50px; width:600px;"></input>
            <h> Primary Contact Email </h>
            <br>
            <input type="text" id="contactEmail1" style="height:50px; width:600px;"></input>
            <h> Primary Contact Phone Number </h>
            <br>
            <input type="text" id="contactPhone1" style="height:50px; width:600px;"></input>
            <h> Secondary Contact Name </h>
            <br>
            <input type="text" id="contactName2" style="height:50px; width:600px;"></input>
            <h> Secondary Contact Email </h>
            <br>
            <input type="text" id="contactEmail2" style="height:50px; width:600px;"></input>
            <h> Secondary Contact Phone Number </h>
            <br>
            <input type="text" id="contactPhone2" style="height:50px; width:600px;"></input>
            <h> Organisation Website </h>
            <br>
            <input type="text" id="website" style="height:50px; width:600px;"></input>
        </div>

          <br>
          <div class="row">
                <input id="addOrganisation" type="button" style="height:50px; width: 100px;" value="Submit"></input>
                <script>
                    $('#addOrganisation').click(async function() {
                        var name = $('#name').val();
                        var email = $('#email').val();
                        var description = $('#description').val();
                        var contactName1 = $('#contactName1').val();
                        var contactEmail1 = $('#contactEmail1').val();
                        var contactPhone1 = $('#contactPhone1').val();
                        var contactName2 = $('#contactName2').val();
                        var contactEmail2 = $('#contactEmail2').val();
                        var contactPhone2 = $('#contactPhone2').val();
                        var website = $('#website').val();
                		var data = {
                            name: name,
                            email: email,
                            description: description,
                            contactName1: contactName1,
                            contactEmail1: contactEmail1,
                            contactPhone1: contactPhone1,
                            contactName2: contactName2,
                            contactEmail2: contactEmail2,
                            contactPhone2: contactPhone2,
                            website: website,
                            internalNotes: "",
                            displayStatus: false
                		};
                		$.ajax({
                			url: '/g/addOrganisation',
                			data: data,
                			method: 'POST'
                		}).then(function (response) {
                			//location.reload();
                            $(location).attr('href', "/thanksForSubmitting");
                		}).catch(function (error) {
                			console.error(error);
                		});
                    });
                </script>
            </div -->

        <%- include('./partials/footer.ejs'); %>

    </div>


    </body>
</html>
