<!doctype html>

<html lang="en">
    <body>

        <%- include('./partials/header.ejs'); %>

        <div class="page-header" style="background-image: url('media/Header_image.png'); min-height: 150px;">
        </div>

        
        <!-- div class="container" style="margin-top: 150px; margin-bottom: 150px;">

        <div class="row">

        <h> Submitting organisations is currently disabled! We are still open to trying to fund your projects however, you just have to contact us directly. Try to contact us through the subreddit or twitter or elsewhere.</h>

        </div>

        </div -->


        <div class="container">
            <br><br>
          <div class="row">
            <h4> Add your organisation </h4> <!-- class="mt-2 mb-4" -->

            <h> Thanks for adding your organisation, we will be in touch with you shortly. </h>
        </div>
        <br><br><br><br>

          <br>

        <%- include('./partials/footer.ejs'); %>

    </div>


    </body>
</html>
