<div class="page-header" style="background-image: url('media/Header_image.png'); min-height: 498px;">
<!-- div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')" -->
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <!-- div class="text-center" -->
            <h1 class="text-white">Directory of <br>Georgist Activism</h1>
            <h5 class="text-white">Find your role in building a future for all</h5>
            <!-- h1 class="text-white">Learn about Georgism</h1 -->
            <!-- h3 class="text-white">Subtitle</h3 -->
            <!-- h5 class="text-white">A land value tax on a fixed supply does not raise the cost of the land, it only prevents profiteering.</h5 -->
          <!-- /div -->
        </div>
      </div>
    </div>
</div>
<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="container">
      <div class="section text-center">
        <!-- h2 class="title">Your main section here</h2 -->
        <img src="media/history-principles-of-land-value-tax-35-1024.png" style="max-width: 80%;" ></img>
        <br>
        <a href="https://www.slideshare.net/MarkWadsworth/history-principles-of-land-value-tax" target="_blank">Source for image</a>
        <br><br>
      </div>
    </div>
</div>

