<!-- some of the css needs to be moved to the custom css file -->

<%- include('./headerImageLarge.ejs'); %>

<br>
<h class="heading">The Geoism Foundation is an international advocacy organisation that works to promote economic democracy and social justice through the principles of Henry George. We seek to position ourselves as an umbrella organisation to support various Georgist organisations and projects around the world.</h>

<!-- Focus Points Section -->
<section class="focus-points">
    <a class="focus-point" href="#">
        <div class="icon-container red">
            <span class="material-icons">campaign</span> <!-- Put your desired icon here -->
        </div>
        <h3>Our Advocacy Efforts</h3>
        <p>Learn about our advocacy efforts and initiatives to promote economic democracy and social justice through Georgist principles.</p>
    </a>
    <a class="focus-point" href="#">
        <div class="icon-container blue">
            <span class="material-icons">language</span> <!-- Put your desired icon here -->
        </div>
        <h3>Our Global Network</h3>
        <p>Learn about our effort to unite and support various Georgist organisations around the world.</p>
    </a>
    <a class="focus-point" href="#">
        <div class="icon-container yellow">
            <span class="material-symbols-outlined">psychiatry</span><!-- Put your desired icon here -->
        </div>
        <h3>Our Impact</h3>
        <p>Learn about projects funded by the Geoist Foundation and their impact on communities around the world.</p>
    </a>
</section>

<br>
<h class="heading">Our Theory of Change</h>
<p style="
    margin: 5px auto 5px;

    width: 62%;
    /*height: 155px;*/

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    /* or 133% */

    color: #202020;">
Georgism (otherwise known as geoism) is an economic philosophy holding that the economic value derived from land, including natural resources and natural opportunities, should belong equally to all residents of a community, but that people own the value that they create themselves.
<br><br>
Most Georgists support:
<br><br>
&nbsp&nbsp&nbsp&nbsp• A broad-based land value taxation scheme, either to mostly or entirely replace existing harmful taxes on income, consumption, and corporations.
<br><br>
&nbsp&nbsp&nbsp&nbsp• The social redistribution of this revenue either directly, through a Citizens' Dividend, or indirectly, through government programs, to citizens.
<br><br>
&nbsp&nbsp&nbsp&nbsp• Some (but not all) forms of market intervention by the state.
<br><br>
&nbsp&nbsp&nbsp&nbsp• The abolition of tariffs, quotas, patents, and other barriers to trade and commerce.
<br><br>
The Georgist paradigm crosses the left-right political divide. This means that there are statist, anarchist, progressive, and conservative Georgists.
                </p>

<%- include('./sidebar.ejs'); %>


<div class="map-container">
    <br>Find Georgists and aligned organizations close to your location with this map. Click the map to place a marker publicly.
    <%- include('./map.ejs'); %>
</div>


