
<hr>
<footer class="footer py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-logo-wrapper">
                  <a href="/" class="navbar-brand site-logo">
                      <img src="/media/site_logo.jpg" alt="Geoism.org logo" class="draggable" width="200">
                  </a>
                  <script>
                  $( function() {
                    $( ".draggable" ).draggable();
                  } );
                  </script>
                  <!-- Social media icons -->
                  <ul class="list-unstyled social-icons mt-3">
                      <li>
                          <a href="https://twitter.com/r_georgism" target="_blank" rel="noopener">
                              <i class="bi bi-twitter"></i>
                          </a>
                      </li>
                      <li>
                          <a href="https://discord.gg/bjZejXa" target="_blank" rel="noopener">
                              <i class="bi bi-discord"></i>
                          </a>
                      </li>
                      <li>
                          <a href="" target="_blank" rel="noopener">
                              <i class="bi bi-linkedin"></i>
                          </a>
                      </li>
                  </ul>
                </div>
                <p class="mt-3">© 2023 Geoism.org. All rights reserved.</p>
            </div>
            <div class="col-md-3">
                <h5>Quick links</h5>
                <ul class="navbar-nav footer-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">News & Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Affiliated Organisations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Us & Our Work</a>
                    </li>
                    
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Get Involved</h5>
                <ul class="navbar-nav footer-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/ifYouHaveFunds">
                            <i class="material-icons align-middle pe-2">card_giftcard</i>
                            Donate
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/submitOrganisation">
                            <i class="material-icons align-middle pe-2">attach_money</i>
                            Fund Your Organisation
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#">
                            <i class="material-icons align-middle pe-2">help_outline</i>
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <p>Email: info@geoism.org</p>
                <p>Phone: +1 (123) 456-7890</p>
            </div>
        </div>
    </div>
</footer>

