
<head>

    <title>Geoism.org</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700|Material+Icons" />
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Material Kit CSS -->
    <link href="material-kit-master/assets/css/material-kit.css?v=3.0.0" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="./material-kit-master/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="./material-kit-master/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

    <!-- jquery -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script> <!-- include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> <!-- jquery UI -->

    <!-- custom css -->
    <link href="../css/custom.css" rel="stylesheet" />

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-transparent navbar-custom">
    <div class="container">
        <a class="navbar-brand navbar-title" href="/">
            <img src="/media/site_logo.jpg" alt="Geoism.org logo" width="200"> <!-- width="250" -->
        </a>
        <!--button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button-->
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="double-row-container">
                <ul class="navbar-nav ms-auto align-items-center" style="width: 100%;">
                    <!-- Top row items go here -->
                    <li class="nav-item">
                        <a class="nav-link" href="/ifYouHaveFunds">
                            <i class="material-icons align-middle pe-2">card_giftcard</i>
                            Donate
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/submitOrganisation">
                            <i class="material-icons align-middle pe-2">attach_money</i>
                            Fund Your Organisation
                        </a>
                    </li>
                    <!-- li class="nav-item">
                        <a class="nav-link" href="/#">
                            <i class="material-icons align-middle pe-2">help_outline</i>
                            Contact Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#">
                            <i class="material-icons align-middle pe-2">search</i>
                            Search
                        </a>
                    </li -->
                    <!-- li class="nav-item">
                        <a class="nav-link btn btn-outline-success my-sm-0" href="/login">
                            <i class="material-icons align-middle pe-2">lock</i>
                            Login
                        </a>
                    </li -->
                    <%- include('./login.ejs'); -%>
                </ul>
                <div class="navbar-nav bottom-row">
                    <!-- Bottom row items go here -->
                    <li class="nav-item">
                        <a class="nav-link main" href="#">News &<br>Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link main" href="#">Affiliated<br>Organisations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link main" href="#">Get<br>Involved</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link main" href="#">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link main" href="#">Us & Our<br>Work</a>
                    </li>
                </div>
            </div>
        </div>
    </div>
</nav>



