


<div class="page-header" style="background-image: url('media/Header_image.png'); min-height: 200px;">
<!-- div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')" -->
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <!-- h1 class="text-white">Learn about Georgism</h1 -->
            <!-- h3 class="text-white">Subtitle</h3 -->
            <!-- h5 class="text-white">A land value tax on a fixed supply does not raise the cost of the land, it only prevents profiteering.</h5 -->
          <!-- /div -->
        </div>
      </div>
    </div>
</div>


