

<div class="page-header" style="
  background-image: url('media/front.jpg');
  background-repeat: no-repeat;
  background-position: 80% 0;
  background-size: 30%;
  min-height: 30vw;
">
<!-- div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')" -->
    <!--span class="mask bg-gradient-dark opacity-6"></span-->
    <div class="container">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
          <!-- div class="text-center" -->
            <h1 class="" style="
              font-family: Roboto;
              font-size: 3em;
              font-weight: 500;
              line-height: 1.2em;
              letter-spacing: 0.05em;
              text-align: left;
              width: 70%;
              text-align: center;
            ">
              Empowering communities with economic freedom and fairness, to build a world that works for all.
            </h1>
            <!-- h8 class="text-white">Find your role in building a future for all</h8 -->

            <!-- h1 class="text-white">Learn about Georgism</h1 -->
            <!-- h3 class="text-white">Subtitle</h3 -->
            <!-- h5 class="text-white">A land value tax on a fixed supply does not raise the cost of the land, it only prevents profiteering.</h5 -->
          <!-- /div -->
        </div>
      </div>
    </div>
</div>


