
    <!-- a class="nav-link cursor-pointer align-items-center" id="loginSmall" style="">
        <li class="nav-item dropdown dropdown-hover mx-2" onclick="$('#login').show();" >
            <i class="material-icons opacity-6 me-2 text-md">person</i>
            Log In
        </li>
    </a -->

<!-- div id='loginTemplate' style="position:absolute; float:right; top: 15px; right: 20px;" -->
<span id='loginTemplate' class="cursor-pointer align-items-center p-0" style="float: right; margin-right: 20px; margin-left: auto;"> <!-- nav-link -->
<!-- div class="container" -->
    <!-- div id='user' style="display:none;" >
        <a href='/account' style="padding: 0px 20px 20px 15px; vertical-align: middle;">
            <span id='showUsername' style="color: white;"></span>
        </a>
        <input id='logOutButton' type='button' class="btn btn-sm btn-outline-light transition-3d-hover" style="padding: 0.75rem 1rem;" value='Log out' onclick='logOut()' />
    </div -->
    <div id="user">
        <!-- li class="nav-item" style="display: inline-block;">
            <a href='/account' style="padding: 0px 20px 20px 15px; vertical-align: middle;">
                <span id='showUsername' style=""></span>
            </a>
        </li -->
        <li class="nav-item" style="display: inline-block; vertical-align: middle; min-width: 120px;">
            <a class="nav-link btn btn-outline-success my-sm-0" href="/account">
                <i class="material-icons align-middle pe-2">person</i>
                <span id='showUsername' style=""></span>
            </a>
        </li>
        <li class="nav-item" style="display: inline-block; vertical-align: middle;">
            <a class="nav-link" onclick="logOut();"> <!-- href="/login" -->
                <i class="material-icons align-middle pe-2">lock</i>
                Log out
            </a>
        </li>
    </div>
    <script>
        $('#user').hide();
        $('#showUsername').hide();
        $('#logOutButton').hide();
    </script>

    <!-- a class="nav-link cursor-pointer align-items-center" id="loginSmall" style="">
        <li class="nav-item dropdown dropdown-hover mx-2" onclick="$('#login').show();" >
            <i class="material-icons opacity-6 me-2 text-md">person</i>
            Log In
        </li>
    </a -->
    <li class="nav-item" id="loginSmall">
        <a class="nav-link btn btn-outline-success my-sm-0" onclick="$('#login').show();"> <!-- href="/login" -->
            <i class="material-icons align-middle pe-2">lock</i>
            Login
        </a>
    </li>

    <!-- div id='loginSmall' style="display: none;">
        <input type='button' value='log in' onclick="$('#login').show();$('#loginSmall').hide();" class="btn btn-outline-dark" style="padding-top:4px; padding-bottom:4px;" /> <br>
    </div -->

    <!-- div id='loginSmall' style="display: none;" class="hs-has-mega-menu navbar-nav-item">
        <input id='logInButton' type='button' class="btn btn-sm btn-outline-light transition-3d-hover" style="padding: 0.75rem 1rem;" value='Log in' onclick="$('#login').show();$('#loginSmall').hide();" / >
    </div -->

    <div id='login' style="display: none; position:absolute; float:right; top: 15px; right: 15px; z-index:10; border: solid; border-radius: 25px; border-width: thin; background-color: #f9fafc; width: 310.5px" class="container" >
        <div class="col-sm-12" style="margin-top: 15px;">Login</div>
        <input type='text' id='username' class='form-control col-sm-12' style="margin-top: 10px;" placeholder='username' /> <!-- style="width: 308.933px;" -->
        <!-- input type='text' id='email' placeholder='email' /> <br -->
        <input type='password' id='password' class='form-control' style="margin-top: 10px;" placeholder='password' />
        <input type='button' class='btn btn-outline-dark fill col-sm-12' style="background-color: #f9fafc; margin-top: 10px;" value='login' onclick='logIn()' /> <br>
        <input id='signUpButton' type='button' class='btn btn-outline-dark fill col-sm-12' style="background-color: #f9fafc; margin-top: 10px;" value='sign up' onclick="$('#register').show();$('#login').hide();" /> <br>
        <input type='button' class='btn btn-outline-dark fill col-sm-12' style="background-color: #f9fafc; margin-top: 10px; margin-bottom: 20px;" value='close' onclick="$('#loginSmall').show();$('#login').hide();" /> <br>
        <br>
    </div>

    <div id='register' style="display: none; position:absolute; float:right; top: 15px; right: 15px; z-index:10; border: solid; border-radius: 25px; border-width: thin; background-color: #f9fafc; width: 310.5px" class="container">
        <div class="col-sm-12" style="margin-top: 15px;">Register</div>
        <input type='text' id='usernameRegister' class='form-control col-sm-12' style="margin-top: 10px;" placeholder='username*' />
        <input type='text' id='emailRegister' class='form-control col-sm-12' style="margin-top: 10px;" placeholder='email*' />
        <!-- input type='text' id='referralRegister' class='form-control col-sm-12' style="margin-top: 10px;" placeholder='referral code' / --> <!-- doesn't do anything yet --> <!-- add a way to convey that this can be blank -->
        <input type='password' id='passwordRegister' class='form-control' style="margin-top: 10px;" placeholder='password*' />
        <!-- input type='password' id='passwordRegister2' placeholder='password again' /> <br -->
        <input id='registerButton' type='button' value='register' class='btn btn-outline-dark fill col-sm-12' style="background-color: #f9fafc; margin-top: 10px;" onclick='addUser()' /> <br>
        <input type='button' value='log in' class='btn btn-outline-dark fill col-sm-12' style="background-color: #f9fafc; margin-top: 10px;" onclick="$('#login').show();$('#register').hide();" /> <br>
        <input type='button' class='btn btn-outline-dark fill col-sm-12' style="background-color: #f9fafc; margin-top: 10px; margin-bottom: 20px;" value='close' onclick="$('#loginSmall').show();$('#register').hide();" /> <br>
        <br>
    </div>

</span>

<script>
    // stuff to do on this page on load
    
    //$('#user').hide();
    //$('#register').hide();

    var user;
    //var user = {
    //    username: "123",
    //    email: "456"
    //};

    // get variables for this page and then display them

    // https://petetasker.com/using-async-await-jquerys-ajax/
    async function loadVariables() {

        user = await $.ajax({
			url: '/r/getUser',
			method: 'POST'
		}).then(function (response) {
            return response;
        }).catch(function (error) {
            //console.error(error);
        });

        if (user && user.username) {
            $('#showUsername').html(user.username);
            $("#accountLink").attr("href", "/r/account");
            $('#user').show();
        }
        else {
            $('#showUsername').html("Account");
            $("#accountLink").attr("href", "/r/login");
            $('#user').hide();
        }
        //console.log(user);

        if (user && user.username) {
            $('#loginSmall').hide();
            $('#user').show();
            $('#login').hide();
            $('#showUsername').show();
            $('#logOutButton').show();
        }
        else {
            $('#loginSmall').show();
            $('#user').hide();
            $('#login').hide();
        }
        
        //$('#showUsername').html(user.username);
    }
    loadVariables();


    // functions

	function addUser() {
		//event.preventDefault(); // Stop the form from causing a page refresh.
		var data = {
			username: $('#usernameRegister').val(),
			email: $('#emailRegister').val(),
			password: $('#passwordRegister').val()
		};
		$.ajax({
			url: '/r/addUser',
			data: data,
			method: 'POST'
		}).then(function (response) {
			location.reload();
		}).catch(function (err) {
			console.error(err);
		});
	}

	function logIn() {
        var data = {
            username: $('#username').val(),
            //email: $('#email').val(),
            password: $('#password').val()
        };
		$.ajax({
			url: '/r/login',
			data: data,
			method: 'POST'
		}).then(function (response) {
            //alert(response);
			location.reload();
		}).catch(function (err) {
			console.error(err);
		});
	}

	function logOut() {
		$.ajax({
			url: '/r/logout',
			//data: data,
			method: 'POST'
		}).then(function (response) {
			location.reload();
		}).catch(function (err) {
			console.error(err);
		});
	}
</script>
