<link rel="stylesheet"
   href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>
<script
   src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>
<div
   id="geomap"
   style="height: 500px;"></div>
<style>
/* Spinning loader for form submission */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<script type="text/javascript">
// Initialise the map and set it to display the middle of the world.
var map = L.map('geomap').setView([30, 0], 2);

// Load map tiles from OpenStreetMap
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 10,
    attribution: '<a href="https://www.openstreetmap.org/copyright">© OpenStreetMap contributors</a>'
}).addTo(map);

// Render all markers
fetch("/map_data.json")
   .then(resolve => resolve.json())
   .then(mapData => {
      for (entry of mapData) {
         var m = L.marker(entry['ltln']).addTo(map);
         m.bindPopup('<p>' + entry['desc'] + '<\/p>');
      }
   });

// Create popup object to generate messages on the map
var marker = L.marker([0,9999999]).addTo(map);
var popup = L.popup({offset: [0, -30]});

// Define the form that pops up when the map is clicked
function onClick(e) {
   marker.setLatLng(e.latlng);
   popup
      .setLatLng(e.latlng)
      .setContent('<div id="pf_popup">' +
                  '<p>Tell a few words about yourself and let nearby Georgists get in touch with you!<br>' +
                  '<i>Your e-mail will <b>never<\/b> be displayed publicly.<\/i><br>' +
                  '<textarea id="pf_info" style="width: 100%"><\/textarea><br>' +
                  'E-mail: <input type="email" id="pf_email"><br>' +
                  '<input type="submit" id="pf_submit">' +
                  '<strong id="pf_status"><\/strong><\/p><\/div>')
      .openOn(map);
   document // Remove marker when popup is closed
      .getElementsByClassName("leaflet-popup-close-button")[0]
         .onclick = (function(e) {
            marker.setLatLng([0,9999999]);
         });

   // Handle query submission
   var popupForm = document.getElementById("pf_popup");
   var statusMsg = document.getElementById("pf_status");
   document.getElementById("pf_submit").onclick = (function(e) {
      var infoQuery = document.getElementById("pf_info").value;
      var emailQuery = document.getElementById("pf_email").value;
      if (emailQuery == "") statusMsg.innerText = " E-mail required!"
      else if (emailQuery.toLowerCase().match(/^[^\s@]+@[^\s@]+\.[^\s@]+$/)) {
         popupForm.innerHTML = "";
         popupForm.className = "loader";
         setTimeout(function() {
            popupForm.className = "";
            popupForm.innerHTML = '<p>Request was succesfully submitted! It will show up here after approval by admins.<\/p>'
         }, 4000);
      } else statusMsg.innerText = " Invalid e-mail!"
   });
}

map.on('click', onClick);

</script>