
<!-- sidebar on the left of most pages -->

<!--div class="col-md-4"-->
    <div class="section text-center">
        <div style = "
margin-top: 80px;
/* If You Have a Few Minutes */
width: 62%;
margin-left: auto;
margin-right: auto;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 2em;
            line-height: 1em;
            /* identical to box height */
            color: #000000;">
            <a href="/ifYouHaveFunds">If You Have Funds to Donate</a> <!-- style = "font-weight: 700; color: #556B2E;" -->
            <br><br>
            <a href="/aFewMinutes">If You Have a Few Minutes</a>
            <br><br>
            <a href="/aFewHours">If You Have a Few Hours</a>
            <br><br>
            <a href="/ifMoreTime">If You Have More Than a Few Hours</a>
            <br><br>
            <a href="/">Home</a>
                <!-- Anchoring to top heading to not disorient the user. Not doing it for the other links because those pages have a smaller heading at the top. -->
                <!-- Took out the anchoring on the main page. -->
            <br><br>
        </div>
    </div>
<!--/div-->
